.register-container {
  align-items: center;
  padding: 2rem;
  background-color: #f4f7fc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
margin-left: 40%;
margin-top: 100px;
margin-bottom: 100px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register-form label {
  margin-bottom: 0.5rem;
}

.register-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.register-form button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #45a049;
}


